.img-view{
	height: 10%;
	width: 90%;
}

.img-slctr{
	left: 13%;
}

#dataTable{
	margin-top: 7%;
  margin-left: 5%;
  border-radius:10px;
}

#jqxInput{
	margin-bottom: 10%;
	margin-left: 5%;
}

aside{
	display: block;
	float: right;
	margin-top: 7%;
	margin-right: 5%;
    border: cadetblue outset;
    width: 35%;
}

section{
	float: left;
	margin-top: 5vh;
}

.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 150%;
  padding: 1%;
  cursor: pointer;
  margin: 1.5%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
