
#contendor{align-content: center;width: 90%;border-radius: 6px;padding: 0em 1.5em 3em ;box-shadow: 0 0 6px #888;background: white;position: relative; margin-left: 1.7cm;}

#dataTableInsertar{
	padding-top: 5.2; 
	position: relative;
}
#scroll{
	padding-top: 5.2; 
	padding-left: 5.2%;
	overflow: scroll;
}
