

/*#datos{background-image: url(../img/fondo.jpg);background-size: 100% 100%;width: 100%;height: 170px;margin: 0px auto 0 auto;border-radius: 6px;z-index: 999;position:fixed;top:0;}*/
#contendor{align-content: center;width: 90%; /*! margin-top: 10vh; */border-radius: 6px;padding: 0em 8em 3em ;box-shadow: 0 0 6px #888;background: white;position: relative; margin-left: 1.7cm;}
#nombre{position: relative;text-align: center;}
#correo{position: relative;text-align: center;}
#telefono{position: relative;text-align: center;}