.routes-container{overflow: hidden;background: white;border-radius: 3px;position: relative;top: 46px;padding: 1em 2em;height: 90vh}
.result-container > div{padding-top: 1.5em}
.result-container h3{cursor:pointer;display: inline;}
.result-container span:first-child{margin-right:10px;margin-left:1.5em;}
.result-container span.glyphicon{transition: .3s;}
.result-container span.animate{transition: .3s;transform: rotate(-90deg)}
.filters{width: 90%;}
.recepcion{overflow: hidden}