*{box-sizing: border-box}
body,html{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#333;
}

h1,h2,h3,h4,h5,h6{margin: 0;padding: 0}
select{appearance:none;-moz-appearance: none;-webkit-appearance:none;}

.dropdown{position: absolute;border: thin solid lightgrey;border-radius: 4px;box-shadow: 0 0 6px 1px #ccc;padding:.5em 0;list-style: none;margin: 0;min-width:170px;background-color:white;z-index:999;display:none}
.dropdown > li{text-indent: 1em;text-align:left;}
.dropdown-item{padding: 4px 0;font-size: 14px;color:#666;cursor: pointer}
.dropdown-item:hover{background-color: #f5f5f5}
.dropdown-header{font-size: small;font-weight: 800;padding: 4px;}
.dropdown .glyphicon{margin-right: .5em}
.input-button-dropdown {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border:thin solid lightgrey;border-right: none;background-color: white;
  color:#666;
  min-width: 60px
}
button{cursor:pointer}
a{text-decoration:none;outline:none;cursor:pointer}
.navbar-item-link{color:#eee;}
.brand{color:#AFCEF2;text-decoration:none;font-size:large;display:inline-block;}
.navbar{width: 100%;background-color:rbga(0,0,0,.1);position:relative;left:0;top: 160px;height:45px}
/*Esto es mio*/
.banner{background-image: url(http://portalinfofc.com/gestionbuses/Vistas/img/banner.png);background-size: 100% 100%;width: 100%;height: 205px;margin: 0px auto 0 auto;border-radius: 6px;z-index: 999;position:relative;top:0;}
.form-control{border: thin solid lightgrey;border-radius: 3px;padding:.5em 0;background: #f9f9f9;vertical-align: middle;}
input.form-control{text-indent: .8em;}
select.form-control{text-align: center}
.form-control:focus{box-shadow: 0 0 6px #72AADF;border-color: #74B8F7}
.form-control:focus{box-shadow: 0 0 6px #72AADF;border-color: #74B8F7}
.form-group{overflow: hidden;width: 100%;padding:3px;}
.form-group-inline{display: inline-flex;width:100%;padding:3px;}
hr.separator{display: block;width: 100%;border: none;height: 1px;background-color: lightgrey;}
.btn{padding:.5em 6px;border-radius: 3px; border: none;text-align:center;vertical-align:middle;}
.btn.btn-link{text-decoration: none;}
.btn.btn-primary{background-color: #4B7DC9;color: white}
.btn.btn-success{background-color: #5cb85c;color: white;border: thin solid #4cae4c}
.btn.btn-danger{background-color: #D9534F;color: white;border: thin solid #d44f3a}
.btn.btn-warning{background-color:#F0AD4E;color: white;border: thin solid #EEA236}
.form-block{display: block;padding: 1em}
.right{float: right !important}
.left{float: left !important}
.navbar-item{display:inline-block;overflow: hidden}
.navbar-item-group{display:inline-block;overflow: hidden}

.table{border-collapse: collapse;width: 100%;max-width: 100%;margin-bottom: 20px;border-spacing: 0;border-radius: 10px;background-color: #4096C6;color: white;}
.table th{vertical-align: bottom;border-bottom: 2px solid #ddd;padding: .5em }
.table td{padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;color:#555;text-align: center;}
.table > tbody > tr:hover{background-color: #f1f1f1 !important;}
.table.striped tr:nth-child(even){background-color: white;}
.table.striped > tbody > tr:nth-child(odd){background-color: #f9f9f9}

.filters{margin-top: .5em;background-color: #eee;padding: .5em 1em;border-radius: 3px;border: thin solid lightgrey}
.filters label{font-size: small;}
.filters input{width: 20px !important;margin-right: 2em;}
.filters input:last-child{margin-right:0;}

.list-group{list-style: none; overflow:hidden;padding: 0;display: block}
.list-group-item{
  overflow: hidden;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item.active{background-color:#5cb85c; color: white}
.list-group-item:only-child{border-radius: 6px !important;}
.list-group-item:first-child{border-radius: 6px 6px 0 0}
.list-group-item:last-child{margin-bottom:0;border-radius: 0 0 6px 6px}

.row {width: 100%;overflow: hidden;}

.content{margin: auto 15px}

/*.xs-1, .sm-1, .md-1, .lg-1,.xs-2, .sm-2,
.md-2, .lg-2, .xs-3, .sm-3, .md-3, .lg-3,
.xs-4, .sm-4, .md-4, .lg-4, .xs-5, .sm-5,
.md-5, .lg-5, .xs-6, .sm-6, .md-6, .lg-6,
.xs-7, .sm-7, .md-7, .lg-7, .xs-8, .sm-8,
.md-8, .lg-8, .xs-9, .sm-9, .md-9, .lg-9,
.xs-10, .sm-10, .md-10, .lg-10, .xs-11, .sm-11,
.md-11, .lg-11, .xs-12, .sm-12, .md-12, .lg-12
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
*/

.collapsed{display:initial !important}

@media screen and (max-width:1920px) {
    .btn.collapse-sm,.btn.collapse-xs{display: none}
    .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12 {float: left;position: relative;}
    .lg-12 {width: 100%;}
    .lg-11 {width: 91.66666667%;}
    .lg-10 {width: 83.33333333%;}
    .lg-9 {width: 75%;}
    .lg-8 {width: 66.66666667%;}
    .lg-7 {width: 58.33333333%;}
    .lg-6 {width: 50%;}
    .lg-5 {width: 41.66666667%;}
    .lg-4 {width: 33.33333333%;}
    .lg-3 {width: 25%;}
    .lg-2 {width: 16.66666667%;}
    .lg-1 {width: 8.33333333%;}
    .push-lg-12 {margin-left: 100%;}
    .push-lg-11 {margin-left: 91.66666667%;}
    .push-lg-10 {margin-left: 83.33333333%;}
    .push-lg-9 {margin-left: 75%;}
    .push-lg-8 {margin-left: 66.66666667%;}
    .push-lg-7 {margin-left: 58.33333333%;}
    .push-lg-6 {margin-left: 50%;}
    .push-lg-5 {margin-left: 41.66666667%;}
    .push-lg-4 {margin-left: 33.33333333%;}
    .push-lg-3 {margin-left: 25%;}
    .push-lg-2 {margin-left: 16.66666667%;}
    .push-lg-1 {margin-left: 8.33333333%;}
    .push-lg-0 {margin-left: 0;}
}

@media screen and (max-width:980px) {
    .btn.collapse-sm,.btn.collapse-xs{display: none}
    .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12 {float: left;}
    .md-12 {width: 100%;}
    .md-11 {width: 91.66666667%;}
    .md-10 {width: 83.33333333%;}
    .md-9 {width: 75%;}
    .md-8 {width: 66.66666667%;}
    .md-7 {width: 58.33333333%;}
    .md-6 {width: 50%;}
    .md-5 {width: 41.66666667%;}
    .md-4 {width: 33.33333333%;}
    .md-3 {width: 25%;}
    .md-2 {width: 16.66666667%;}
    .md-1 {width: 8.33333333%;}
    .push-md-12 {margin-left: 100%;}
    .push-md-11 {margin-left: 91.66666667%;}
    .push-md-10 {margin-left: 83.33333333%;}
    .push-md-9 {margin-left: 75%;}
    .push-md-8 {margin-left: 66.66666667%;}
    .push-md-7 {margin-left: 58.33333333%;}
    .push-md-6 {margin-left: 50%;}
    .push-md-5 {margin-left: 41.66666667%;}
    .push-md-4 {margin-left: 33.33333333%;}
    .push-md-3 {margin-left: 25%;}
    .push-md-2 {margin-left: 16.66666667%;}
    .push-md-1 {margin-left: 8.33333333%;}
    .push-md-0 {margin-left: 0;}
}

@media screen and (max-width:768px) {
    .sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12 {float: left;}
    .sm-12 {width: 100%;}
    .sm-11 {width: 91.66666667%;}
    .sm-10 {width: 83.33333333%;}
    .sm-9 {width: 75%;}
    .sm-8 {width: 66.66666667%;}
    .sm-7 {width: 58.33333333%;}
    .sm-6 {width: 50%;}
    .sm-5 {width: 41.66666667%;}
    .sm-4 {width: 33.33333333%;}
    .sm-3 {width: 25%;}
    .sm-2 {width: 16.66666667%;}
    .sm-1 {width: 8.33333333%;}
    .push-sm-12 {margin-left: 100%;}
    .push-sm-11 {margin-left: 91.66666667%;}
    .push-sm-10 {margin-left: 83.33333333%;}
    .push-sm-9 {margin-left: 75%;}
    .push-sm-8 {margin-left: 66.66666667%;}
    .push-sm-7 {margin-left: 58.33333333%;}
    .push-sm-6 {margin-left: 50%;}
    .push-sm-5 {margin-left: 41.66666667%;}
    .push-sm-4 {margin-left: 33.33333333%;}
    .push-sm-3 {margin-left: 25%;}
    .push-sm-2 {margin-left: 16.66666667%;}
    .push-sm-1 {margin-left: 8.33333333%;}
    .push-sm-0 {margin-left: 0;}
    .btn.collapse-sm{display: initial}
    .collapse-sm-12 {float: left;width: 100%;display: none;}
}
@media screen and (max-width:480px) {
    .xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12 {float: left;}
    .xs-12 {width: 100%;}
    .xs-11 {width: 91.66666667%;}
    .xs-10 {width: 83.33333333%;}
    .xs-9 {width: 75%;}
    .xs-8 {width: 66.66666667%;}
    .xs-7 {width: 58.33333333%;}
    .xs-6 {width: 50%;}
    .xs-5 {width: 41.66666667%;}
    .xs-4 {width: 33.33333333%;}
    .xs-3 {width: 25%;}
    .xs-2 {width: 16.66666667%;}
    .push-xs-12 {margin-left: 100%;}
    .push-xs-11 {margin-left: 91.66666667%;}
    .push-xs-10 {margin-left: 83.33333333%;}
    .push-xs-9 {margin-left: 75%;}
    .push-xs-8 {margin-left: 66.66666667%;}
    .push-xs-7 {margin-left: 58.33333333%;}
    .push-xs-6 {margin-left: 50%;}
    .push-xs-5 {margin-left: 41.66666667%;}
    .push-xs-4 {margin-left: 33.33333333%;}
    .push-xs-3 {margin-left: 25%;}
    .push-xs-2 {margin-left: 16.66666667%;}
    .push-xs-1 {margin-left: 8.33333333%;}
    .push-xs-0 {margin-left: 0;}
    .btn.collapse-xs{display: initial}
    .collapse-xs-12 {float: left;width: 100%;display: none}
}
