.pusher{height:20px;}
.articles{background-color:#f6f6f6;background-color: #fff;font-weight:100;padding: 3em 0;top:40px;position: relative;background-color: #e2e2e2}
article{padding:1em 2em;}
.articles .header{font-size: 25px;font-weight: 100}
.articles .text-body{font-size: 15px;padding:5px}
.articles .btn-link{display: inline-block;padding: 4px 20px;}
footer{font-size: small;text-indent:1.5em}
