.login{width: 33vw;margin: 25vh auto;background-color:;color: #444;overflow: hidden;}
.form-group:nth-child(odd)>input{border-radius: 6px 0 0 0 !important;}
.form-group:nth-child(even)>input{border-radius: 0 0 0 6px !important; border-top: none}
input{background-color: white}
/*.form-control:nth-child(even)>label{border-radius: 0 6px 0 0 !important;}
.form-control:nth-child(odd)>label{border-radius: 0 0 6px 0 !important; border-top: none}*/
.btn{margin:0}
.header{text-align: center;font-weight: 100;margin: 0;padding-top: 20px;font-family: }
