.login{position: absolute;background:#394C5C;z-index: 999;border-radius:0 0 3px 3px;top:43px;right:0;padding:15px;display: none}
.login .btn{width: 100%;margin-top: 8px;background-color: #48789F;border: none;display:block;}
.login .form-control{background: #566F84;color: white;border: none;border-radius: 0;height: 2.5em;margin:1px 0}
.login .form-control:focus{box-shadow:0 0 0 2px lightslategray}

.navbar{padding: 0 2em}
.navbar-item{vertical-align: middle;padding:5px;color:grey;}
.navbar-item-group{margin-top: 8px}

@media screen and (max-width:480px){
  .navbar{top:135px}
  .login{display:none;position: relative;top:2px;width: 100vw;left: 0}
  .login .btn{width: 100%;}
  .login .form-control{width: 100%}
}

#login-validations{color: #FF6969;display:none;text-align: center}
