ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #365670;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #0B56C9;
    border-radius: 5px;
}

li.dropdown {
    display: inline-block;
}

.navbar{
    overflow: visible;
    top: 79%;
}
.dropdown-admin{position: absolute;list-style: none;margin: 0;min-width:170px;z-index:999;display:none}
.dropdown > li{text-indent: 1em;text-align:left;}
.dropdown-item{padding: 4px 0;font-size: 14px;color:#666;cursor: pointer}
.dropdown-item:hover{background-color: #f5f5f5}
.dropdown-header{font-size: small;font-weight: 800;padding: 4px;}
.dropdown .glyphicon{margin-right: .5em}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #365670;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.dropdown-content a:hover{
    border-radius: 15px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: inset;
}

.dropdown-content a:hover {background-color: #0B56C9}

.dropdown-admin:hover .dropdown-content {
    display: block;
}

.navbar-item-admin{display:inline-block;}