.insert-stop:nth-child(even){border-top-left-radius:0;border-bottom-left-radius:0;border:none}
.insert-stop:nth-child(odd){border-top-right-radius:0;border-bottom-right-radius: 0}
.pac-container{display: block !important;z-index: 2000;border-top:0;}
.pac-container::after{display: none;}
#insertmap{border:thin solid lightgrey;height:450px;}
#acm{width: 60%;top:8px !important;}
.glyphicon-triangle-bottom{float: right;top: 4px}
#buscar-ruta{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.routes-list{padding: 0;list-style: none;}
.route-title{padding: .8em;overflow: hidden}
.route-content{clear: both;background: white;padding: 1em 2em;display: none;overflow: hidden}
.map-container{height:400px}
.route-content > button{border:thin solid lightgray;border-radius: 3px;padding: 4px 6px;font-size: large;}
.route-title > h3{padding: 0;margin: 0}
.route-title > button{border:none;padding: 2px 0;font-size: small;top: 4px;margin-right: .5em;background-color: transparent;}
.routes-list > li{padding:0;border-top: 2px solid lightgrey;background-color: #eee;border-left: 1px solid lightgrey;border-right: 1px solid lightgrey}
.routes-list > li:last-child{border-bottom: 2px solid lightgrey}

.btn-map-opts{right:45px;position: relative;top:6px;z-index: 10;background-color: #f8f8f8;border-radius:4px !important}
.btn-map-opts:active{background-color: #e1e1e1;}
.btn-map-opts .glyphicon{top: 3px;}
.map-controls{border: thin solid lightgray;position: absolute;top:150px}

#route-info-form .form-group-inline{display:inline-flex;justify-content:space-between}
#route-info-form > .form-group-inline > input{max-width: 220px;}
#route-info-form > .form-group{text-align: right}
#route-info-form > .form-group > input{max-width: 220px;margin-left: 15px}

.stops-list.empty,#schedule-list.empty{border: dashed 3px #ccc;border-radius: 6px;}
.stops-list.empty > p,#schedule-list.empty > p{color: #888;padding:8px 12px;text-align: center;display: block;}
.stops-list.empty span,#schedule-list.empty > p span{width: 100%;text-align: center}
.route-info,.stops-insert,.schedule-insert{margin-top: 1em;margin-bottom: 1em}

.stops-list,#schedule-list{border: none}
.stops-list > p,#schedule-list > p{display: none}

#modal2:hover{background: #e5e5e5;transition:background .3s}
#scheduleModal{display: none;background:white;box-shadow:0 0 4px #444;border-radius:6px;width: 350px;}
#scheduleModal > header{background: #f3f3f3;width: 100%;padding: 1em;border-bottom: thin solid lightgrey;border-radius:6px 6px 0 0}
#scheduleModal > .footer{background: #f3f3f3;width: 100%;padding:.6em;border-top:thin solid lightgrey;border-radius: 0 6px 0 6px;overflow:hidden;border-radius: 0 0 6px 6px}
#scheduleModal > .footer > *{font-size:small;margin: 0 6px}
#scheduleModal > form{padding: 1em 2.5em;width: 100%;max-height: 50vh;overflow: auto}
#scheduleModal h3{margin: 0;font-weight:400;}

#lean_overlay {
    position: fixed;
    z-index:2000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.form-control-group{margin: 0 .5em}
.form-control-group > label{margin-right: .5em;font-weight: 600;font-size:12px}
select{color:#444}

.content-animatedModal{padding: 2em}
