
#map-canvas{display: none;height: 20em;margin: .5em auto;border: thin solid lightgray}
#map-container{border-radius: 20px;overflow: hidden;margin: 1em 0;}
#map-container.hidden{border: 4px dashed lightgrey;}
#map-container p{color:grey;font-size: 24px;text-align: center;vertical-align: unset;margin: 25% auto}
#map-container p.hidden{display: none}

.routes-container{background: white;border-radius: 3px;padding: 1em 2em;height: 90vh;margin-top: 1.5em}
.result-container > div{padding-top: 1.5em}
.result-container h3{cursor:pointer;display: inline;}
.result-container span:first-child{margin-right:10px;margin-left:1.5em;}
.result-container span.glyphicon{transition: .3s;}
.result-container span.animate{transition: .3s;transform: rotate(-90deg)}
.schedule{overflow: hidden}

#busqueda{overflow: hidden}
#iwr{padding: 0;position: absolute;cursor: pointer;z-index: 100;}
#iwr .list-group-item:first-child{border-radius: 0}
#iwr .list-group-item:only-child{border-top-left-radius:0 !important;border-top-right-radius:0 !important}
#input-wrapper{display: flex;}
#input-wrapper > input{width: 100%}
#busqueda .glyphicon-search{position: relative;right:2em;top:9px;background: transparent;color: grey;border-radius: 0;width: 0 !important;}
.glyphicon-triangle-bottom{float: right;top: 4px !important;}
#buscar-ruta{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
