.main-container{background-color:#f1f1f1;height:90vh;}


/*Margin-top gina*/
#tracking-form-container {
   margin-top: 5vh;border-radius: 6px;padding: 1em 2em;box-shadow: 0 0 6px #888;background: white;position: relative;
}

#tracking-form-container img{margin: auto;display: block;margin-top:1em;}
#tracking-form-container p{margin-bottom: 1em;color:#666;font-size: 12px;width:75%;margin-left: auto;margin-right: auto;}
#tracking-form-container h3{font-weight: 100;font-size: 25px;text-align: center;color:#999;margin:.5em 0 4px 0;}
#tracking-form-container .form-control{width: 80%; margin: auto;display: block;color:#666;padding:12px 4px;font-size: large;}
#tracking-form-container button{margin: auto;display: block;width: 80%;padding:8px;font-size: large;}
#tracking-form-container .form-group{margin-bottom: .5em;}

/*Margin-top gina*/
#info-section{margin-top: 37vh;background: white !important;border-radius: 6px;padding: 1.5em 3em;box-shadow: 0 0 6px #888;margin-top: 5vh;display: none;}
#info-section article{padding:1em 2em;}
article ul{list-style: none;}
article ul > li{padding:8px 0;}
.summary-header{border-radius: 6px;background-color: #4096C6; color: white;padding:0 1em;padding: 6px;cursor: pointer}
.summary-header > h4{vertical-align: middle;margin: 0;display: inline}
.packages-table{overflow-x: auto}