#buscar-ruta{border-radius:3px !important}
#payment-form{padding: 10px 1.5em;border:2px dashed lightgrey;margin: auto}
.payment-section h4{color:#f5f5f5;font-weight:100;margin-left:1em;padding:0}
#payment-form .btn{margin: 1em auto;display: block}
#payment-form input{font-size: large;}
#payment-form input[name=cant]{max-width: 65px}
#payment-form label{vertical-align: sub}
#payment-form table{table-layout: fixed;margin:0 auto;border: none;border-collapse: collapse;width: 100%;max-width: 100%;margin-bottom: 20px;border-spacing: 0;border-radius: 10px;}
#payment-form td{font-size: large;text-align: left;white-space: nowrap;border: none}
#payment-form td:first-child{text-indent: 2em}

#payment-details{background: #e6e6e6;display: none}
.schedule{margin-top: 2em}
h1,h2,h3,h4{margin: 0;color:white;}
header{margin: 1em 0;padding: .5em 1em;border-radius: 6px;overflow: hidden;background-color:#4B7DC9}